<header>
  <h1 class="heading">
   home
  </h1>
</header>
<main>
  <div class="text">
    テキスト<br>
    テキスト
  </div>
  <span class="start"><%= link_to"Start",books %></span>
</main>
<!-- footer -->
<footer><p class="footer-text">© All rights reserved by Infratop.Inc.</p></footer>

