<header>
  <h1 class="heading">
   ようこそBookersへ！
  </h1>
</header>
<main>
  <div class="text">
    bookersでは、さまざまな書籍に関するあなたの意見や<br>
    印象を共有し交換することができます。
  </div>
  <span class="start"><%= link_to"Start", "/books"%></span>
</main>
  